:root{
    --color-dark: #333;
    --color-light: #fff;
    --color-light-2: rgba(255, 255, 255, 0.8);
    --bg-header: #161616;
    --bg-nav: #fa1939;
    --bg-nav-active: #D90C16;
    --txt-nav-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    --color-danger: #F2272F;
    --color-primary: #4390F8;
    --color-success: #38C378;
    --color-warning: #F9A62B;
    --color-secondary: #555555;
    --logo-size: 80px;
    --default-font-family: 'Koulen', Arial, Helvetica, sans-serif;
    --linear-gradient-overay:linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 60%, black 100%);
}
.title{
    font-size:18px;
}
p{
    font-family: 'Kh Battambang';
}
*{
    margin:0;
    padding:0; 
    box-sizing:border-box;
    font-family:'Koulen',Arial, Helvetica, sans-serif;
}
#top{
    background-color: #161616;
    width: 100%;
    

}
.container{
    width: 75%;
    margin: 0 auto;
}
.top-bar{

    width: 100%;
    padding: 10px 0 0 0;
    height: 120px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.container .logo img {
    width: 80px;
}
.container .ads img{
  width: 100%;
}
nav{
    background-color:#fa1939;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;

}
nav .navigation{
    margin:0 auto;
    height: 50px;
    display: flex;

    align-items:center;
} 
nav .navigation ul{

}
nav .navigation ul li{
    list-style-type:none;
    padding: 10px 15px;
}
nav .navigation ul li a{
    text-decoration:none;
    color:rgba(255, 255, 255, 0.8);
}
nav .navigation ul li a:hover ,li:hover{
    color: white;
    background-color:#D90C16;
}
nav .navigation ul .active{
    background-color:#D90C16;
}
.container .content{
    display:flex;
    gap:10px;
    margin:15px 0;
}
.container .content .content__left{
    position: relative;
    width: 100%;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows:repeat(2, 254px);
}
.container .content .content__left a{
    position: relative;
}
.container .content .content__left a .overlay{
position: absolute;
width: 100%;
height: 100%;
opacity: 0.4;
background: var(--linear-gradient-overay);
}
.container .content .content__left a .overlay:hover{
    opacity: 0.8;
    background: var(--linear-gradient-overay);
}
.container .content .content__left a .flag::after{
    content:" ";
    position:absolute;
    top: 0;
    left: 100% ;
    border-width: 36px 0 0 10px;
    border-style: solid;

}
.container .content .content__left a .flag{
z-index:1;
position: absolute;
color: white;
padding: 3px 10px;
margin:8px 0;
}
.container .content .content__left a:nth-child(1) .flag{
background-color:blue;
}
.container .content .content__left a:nth-child(2) .flag{
background-color:red;
}
.container .content .content__left a:nth-child(3) .flag{
background-color: green;
}
.container .content .content__left a:nth-child(4) .flag{
background-color:orange;
}
.container .content .content__left a:nth-child(1) .flag::after{
    border-color: transparent transparent transparent blue;
}
.container .content .content__left a:nth-child(2) .flag::after{
    border-color: transparent transparent transparent red;
}
.container .content .content__left a:nth-child(3) .flag::after{
    border-color: transparent transparent transparent green;
}
.container .content .content__left a:nth-child(4) .flag::after{
    border-color: transparent transparent transparent orange;
}
.container .content .content__left a  .time{
    position:absolute;
    top: 80%;
    bottom: 0%;
    padding: 0 0 0 10px;
    color: white;
}
.container .content .content__left a .text__content{
    position:absolute;
    /* top: 20%; */
    bottom: 10%;
    padding: 10px;
    color: white;
    transition: all .5s ;
}
.container .content .content__left a:hover .text__content {
    bottom: 20%;
}
.container .content .content__left a:hover .text__content .title{
    color: red;
}
.container .content .content__left a .text__content .description{
    visibility:hidden;
    opacity: 0;
    transition: all .3s linear;
    font-size: 14px;
}
.container .content .content__left a:hover .text__content .description{
    opacity: 1;
    visibility: visible;
}
.container .content .content__left a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .content .content__right{

    grid-row-gap: 8px;
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: 100%;
}
.container .content .content__right div{

}


/* ________________________________video_content  _____________________________*/
.container .content1{
    margin-top:20px;
}
.container .content1 .flag1{
    padding: 5px 10px;
    width: 60px;
    background-color: red;
    position: relative;
}
.container .content1 .flag1::after{
    
    top: 0;
    left: 100%;
    position: absolute;
    border-style: solid;
    content: "";
    border-width: 40px 0 0 15px;
    border-color: transparent transparent transparent red;
}
/* ================ small__content=============== */
.container .content1 .small__content{
    padding: 15px 30px;
    height: 100%;
    border-top: 3px solid red;
    box-shadow:1px 1px 3px 1px #ddd;
}
.container .content1 .top__small__content{  
 
 
    display: grid;
    grid-template-columns:repeat(3,33.25%);
}
.container .content1 .top__small__content div{
    
    box-shadow: inset /5px 5px 5px 15px #666;
    height: 200px;
}
.container .content1 .top__small__content img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0px 0px;
    transition:all .1s linear;
}
.container .content1 .top__small__content img:hover{
    transform: scale(0.98);
  
}
.container .content1 .top__small__content p{
    font-family: 'kh battambang';
    font-size: 15px;
    padding: 0 5px 0 0;
}
.container .content1 .top__small__content a{
    padding: 1px;
    text-decoration:none;
    color:#000;
}
.container .content1 .top__small__content a div{
    width: 100%;
    height: 200px;
    background-color:black;
}
/* __________________________bottom__small__content__left________________ */
.container .content1 .small__content .bottom__small__content__left{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 24%) ;
    grid-column-gap: 2%;
    grid-row-gap:4%;
   
   

}
.container .content1 .small__content .bottom__small__content__left a
{
    text-decoration:none;
    color: #111;
    font-size: 13px;
}
.container .content1 .small__content .bottom__small__content__left a div{
width: 100%;

}
.container .content1 .small__content .bottom__small__content__left p{
    font-family: 'Kh Battambang';

}
.container .content1 .small__content .bottom__small__content__left a div{
    width: 100%;
    height: 93px;
    
    
    background: black;
}
.container .content1 .small__content .bottom__small__content__left a img{
    object-fit: cover;
    object-position:center;

    width: 100%;
    height: 93px;
    transition: all .1s linear;
}
.container .content1 .small__content .bottom__small__content__left a img:hover{
    transform: scale(0.98);
}
/* end__________________________bottom__small__content__left________________ */

/* __________________________bottom__small__content__right________________ */
.container .content1 .small__content .bottom__small__content__right{
 width: 30%;
    margin:0 auto;
}
.container .content1 .small__content .bottom__small__content__right a img{
 width: 100%;
 transition: all .3s linear;
}
.container .content1 .small__content .bottom__small__content__right a img:hover{
 transform: scale(0.98);
}
.container .content1 .small__content .wrap__btn__content{
    display: flex;
    margin-top: 10px;
}
/* end__________________________bottom__small__content__right________________ */


/* end ================ small__content=============== */
/* _____________________________end video__content____________________________ */



/* ________________________________entertainment content___________________________  */
    /* -------------------------Small__content---------------- */
.container .entertainment .small__content{
display: flex;
width: 100%;

}

        /* ----------small__left__content---------- */
.container .entertainment .small__content  .small__left__content{
width: 30%;
padding-right:5px;
}

.container .entertainment .small__content  .small__left__content a div{
width: 100%;
background-color: #161616;
}

.container .entertainment .small__content  .small__left__content a{
    text-decoration:none;
    color:white;
    

}
.container .entertainment .small__content  .small__left__content a:hover img{
    transition: all .1s linear;x
    transform:scale(0.97);
}
.container .entertainment .small__content  .small__left__content a div p{
    padding: 15px  20px;
    background-color: #FA5480;
    font-weight: bold;
    font-size: 22px;
}

.container .entertainment .small__content .small__left__content a img{
width: 100%;
margin-top:10px;
object-fit: cover;
object-position:top;
}

        /* END -------small__left__content---------- */


        /* ---------small__right__content-------------- */
.container .entertainment .flag1{
    padding: 5px 0px 5px 10px;
    width: 75px;
    background-color: #FA5480;
    position: relative;
}
.container .entertainment .flag1::after{
    top: 0;
    left: 100%;
    position: absolute;
    border-style: solid;
    content: "";
    border-width: 40px 0 0 15px;
    border-color: transparent transparent transparent #FA5480;
}
.container .entertainment .flag2{
    padding: 5px 0px 5px 10px;
    width: 100px;
    background-color: #4390F8;
    position: relative;
}
.container .entertainment .flag2::after{
    top: 0;
    left: 100%;
    position: absolute;
    border-style: solid;
    content: "";
    border-width: 41px 0 0 15px;
    border-color: transparent transparent transparent #4390F8;
}
.container .entertainment .flag3{
    padding: 5px 0px 5px 10px;
    width: 110px;
    background-color: #38C378;
    position: relative;
}
.container .entertainment .flag3::after{
    top: 0;
    left: 100%;
    position: absolute;
    border-style: solid;
    content: "";
    border-width: 41px 0 0 15px;
    border-color: transparent transparent transparent #38C378;
}
.container .entertainment .flag4{
    padding: 5px 0px 5px 10px;
    width: 60px;
    background-color: #F9A62B;
    position: relative;
}
.container .entertainment .flag4::after{
    top: 0;
    left: 100%;
    position: absolute;
    border-style: solid;
    content: "";
    border-width: 41px 0 0 15px;
    border-color: transparent transparent transparent #F9A62B;
}
.container .entertainment .small__content{
    border-top: 3px solid #FA5480;
}
.container .entertainment .small__content  .small__right__content{
width: 70%;
display: grid;
grid-template-columns: repeat(4,25%);
column-gap: 5px;
row-gap:15px;

}
.container .entertainment .small__content  .small__right__content a{
    text-decoration:none;
    color:#333;
    font-size: 13px;
    overflow: hidden;
}
.container .entertainment .small__content  .small__right__content a:hover img{
    transform:scale(0.97);
    transition: all .1s linear;
}
.container .entertainment .small__content  .small__right__content a div{
background-color: #161616;
height:100px;
}
.container .entertainment .small__content  .small__right__content a div p{
    height: 100%;
    padding:0 6px 0 6px;
    line-height: 1.6;
}

.container .entertainment .small__content  .small__right__content a img{
width: 100%;
height: 100px;
object-fit:cover;
object-position:top;
}

            /* END----------small__right__content------------- */


    	/* END --------------Small__content--------------------- */

/* ____________________________________end entertainment content_______________________  */


footer{
    background-color:#000;
    padding: 20px 0;
    color:#ABAAAB;
}
footer .row{
    display: flex;
    justify-content:space-between;  
}
 /* _______________________footer__left____________________ */
.footer__left{
width: 40%;
}
.footer__left a{
    color:#ABAAAB ;
}
.footer__left a:hover{
color: white;
}
.footer__left img{
width: 150px;
}
.footer__left p{
    font-size: 14px;
}

 /* end _______________________footer__left____________________ */


 /* _______________________footer__center____________________ */
 .footer__center{
    padding:0 0 0 10px;
}
.footer__center .title{
    margin:0 0 20px 0;
}
.footer__center p{
padding: -50px 0 0 0;
font-size: 14px;
}
.footer__center p a{
    color: #ABAAAB;
}
.footer__center p a:hover{
    color: white;
}
 .footer__center .sponsor{
    padding: 20px 0 0 0;
    display:flex;
}
.footer__center  .sponsor a img{
width: 40px;
padding: 0 3px;
}
 /* end _______________________footer__center____________________ */


 /* _______________________footer__right____________________ */
 .footer__right{
    padding:0 0 0 10px;
 }
 .footer__right .title{
    padding: 0 0 20px 0;
    width: 200px;
 }
 .footer__right a{
    text-decoration: none;
    color:#abaaab;
 }
 .footer__right p{
    line-height: 1.6;
    padding: 20px 0;
 }
 .footer__right a:hover{
    color: white;
 } 
 .footer__right .list__social{
        display: flex;
    }
    .footer__right .list__social i{
        padding:0 3px;
        font-size: 20px;
    }
    .footer__right .list__social i:hover{
        color: white;
    }
 /* end _______________________footer__right____________________ */
